body {
    margin: 0;
  background-color: ;
}

h2 {
    color: #374;
    font-size: 3em;
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px;  
}

.hr1{
  border: none;
  background-color: #222;
  height: 2.8px;
  width: 100%;
  margin-top: -44px;
}

.p1 {
    color: #335;
    font-size: 20px;
    margin: 5px;
}

  a{ 
    color: #838;
    text-decoration: none;
  }

.hr2 {
    border: none;
   background-color: #333;
  height: 2px;
  width: 100%;
}  
.h41 {
         margin-left: 5px;
        margin-top: -1px;
          text-decoration: underline;
          text-decoration-color: red;
          text-decoration-thickness: 2px;
          
     }
     .myimg {
       position: absolute;
      top: 170px;
       right: 5px;
  
     }