h3{
  color: gold;
}
body{
  background-color: #222;
}
.memes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* This creates 2 equal-width columns */
    gap: 5px; /* This adds space between the images */
}
.memes img {
    width: 100%;
    object-fit: contain;
    display: block;
}
.heading{
      font-size: 5vw;
}